:root {
    --dark-font-color: #181818;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark-font-color);
    font-family: "Ubuntu";
}

a {
    text-decoration: none;
}

.header {
    margin: 60px 0;
}

.header .logo {
    font-weight: bold;
}

.menu ul li {
    margin-right: 10px;
}

.menu ul li:last-child {
    margin-right: 0;
}

.footer {
    width: 100%;
    position: fixed;
    background-color: #343F64;
    bottom: 0;
}

.footer .age {
    text-align: center;
}

.active-link {
    font-weight: bold;
    text-decoration: none;
}

.form {
    margin-bottom: 40px;
}

.form label {
    margin-bottom: 10px;
    font-size: 0.875rem;
    font-weight: bold;
}

.form input, select {
    padding: 15px ;
    font-size: 1.2rem;
    background-color: #E7E7E7;
    border: none;
    border-radius: 4px;
    outline: none;
}

.form .input-wrap {
    margin-bottom: 40px;
}

.form button {
    padding: 20px 40px;
    color: #fff;
    /* text-transform: uppercase; */
    font-weight: bold;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    background-color: #FD4C5A; 
}

.result {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.user_info .label {
    font-weight: bold;
    font-size: 1rem;
}

.user_info li {
    font-size: 1.2rem;
    margin-bottom: 4px;
}