:root {
    --dark-font-color: #181818;
    --ligh-gray: #EFEFEF;
    --dark-gray: #828282;
    --green: #12E14C;
}

body {
    color: var(--dark-font-color);
    font-family: "Ubuntu", sans-serif;
    font-size: 1rem;
}

a {
    color: var(--dark-font-color);
    text-decoration: none;
}

.header {
    margin: 60px 0 110px 0;
}

.header .logo {
    font-family: "UbuntuBold", sans-serif;
}

.menu ul li {
    margin-right: 30px;
}

.menu ul li:last-child {
    margin-right: 0;
}

.block {
    display: block !important;
}

.mobile-menu {
    display: none;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #fff;
    box-shadow: 0px 0px 6px #EFEFEF;
    
}

.mobile-menu ul {
    position: relative;
    padding: 20px 0;
}

.mobile-menu .close {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 40px;
    right: 20px;
    z-index: 20;
}

.mobile-menu .close::before {
    width: 15px;
    height: 2px;
    background-color: var(--dark-font-color);
    transform: rotate(45deg);
    content: '';
    display: block;
    position: absolute;
    top: 5px;
}

.mobile-menu .close::after {
    width: 15px;
    height: 2px;
    background-color: var(--dark-font-color);
    transform: rotate(-45deg);
    content: '';
    display: block;
    position: absolute;
    top: 5px;
}

.mobile-menu li {
    padding: 20px 10px;
}

.mobile-menu > div {
    position: relative;
}

.footer {
    width: 100%;
    position: fixed;
    background-color: #343F64;
    bottom: 0;
}

.footer .age {
    text-align: center;
}

.active-link {
    font-family: "UbuntuBold", sans-serif;
    text-decoration: none;
}

.form {
    margin-bottom: 40px;
}

.form label {
    margin-bottom: 10px;
    font-size: 0.875rem;
    font-family: "Ubuntu", sans-serif;
}

.form input,
.form select {
    padding: 15px;
    font-size: 0.875rem;
    color: var(--dark-gray);
    background-color: var(--ligh-gray);
    border: none;
    outline: none;
    font-family: "Ubuntu", sans-serif;
    box-sizing: content-box;
    height: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.form-wrap {
    box-shadow: 0px 0px 6px #EFEFEF;
    padding: 40px 40px 70px 40px;
}

.form-wrap h2 {
    font-size: 1rem;
    margin-bottom: 40px;
    text-align: right;
}

.main .row>div:nth-child(2) .input-wrap:nth-child(2) {
    margin-bottom: 62px;
}

.form .submit {
    background-color: var(--green);
    color: #fff;
    padding: 15px 50px;
}

.form .form-submit {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.form .input-wrap {
    margin-bottom: 40px;
}

.h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.user_info .label {
    font-weight: bold;
    font-size: 1rem;
}

.user_info li {
    font-size: 1.2rem;
    margin-bottom: 4px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger span {
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: var(--dark-font-color);
    position: relative;
    vertical-align: middle;
    margin-top: -2px;
}

.hamburger span::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: var(--dark-font-color);
    position: absolute;
    top: -5px;
}

.hamburger span::after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: var(--dark-font-color);
    position: absolute;
    top: 5px;
}

#login-page {
    padding-top: 100px;
}

.login-link {
    position: absolute;
    bottom: 60px;
    display: block;
    font-family: "UbuntuBold", sans-serif;
}

#error-page {
    padding-top: 100px;
}

@media only screen and (max-width: 992px) {
    .main .row>div:nth-child(2) .input-wrap:nth-child(2) {
        margin-bottom: 40px;
    }

    .submit {
        margin-bottom: 40px;
    }

    .menu {
        display: none;
    }

    .header .row>div:last-child {
        display: flex;
        justify-content: flex-end;
    }

    .hamburger {
        display: block;
    }
}